$tablet: 768px;
$laptop: 1024px;
$desktop: 1366px;

@mixin tablet {
	@media (min-width: $tablet) {
		@content;
	}
}
@mixin laptop {
	@media (min-width: $laptop) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: $desktop) {
		@content;
	}
}

@mixin smooth($property: all, $duration: 0.4s) {
	transition: $property $duration cubic-bezier(0.77, 0, 0.175, 1);
}
